@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  width: 300px;
  min-height: 300px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
body.dark {
  background-color: #0a1426;
}
p {
  display: inner-flex;
  margin: auto 10px;
  font-size: 20px;
  color: #007fff;
  border: 1px solid #007fff;
  border-radius: 6px;
  padding: 10px;
  font-family: "Poppins";
}
#refresh {
  margin: 15px auto;
  height: 40px;
  width: 150px;
  
  background-image: linear-gradient(135deg,#007dfb, #006bd8);
  
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#refresh:hover {
  background-color: #364fc7;
}
#toggle-btn {
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 15px 240px;
  align-items: center;
  justify-content: center;
  color: #007fff;
}
i {
  font-size: 22px;
}
